<!-- This is a static file -->
<!-- served from your routes in server.js -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="A cool thing made with Glitch">

    <title>Coffees</title>

    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css">

    <!-- import the webpage's client-side javascript file -->
    <script src="/script.js" defer></script>
  </head>
  <body>
    <header>
      <h1>Coffee</h1>
    </header>

    <main>

      <section>
        <label for="roast-selection"></label>
        <select name="roast" id="roast-selection">
          <option value="all">All</option>
          <option value="light">Light</option>
          <option value="medium">Medium</option>
          <option value="dark">Dark</option>
        </select>

        <label for="search-selection"></label>
        <input id="search-selection" type="text" placeholder="Search Coffees">
        <button id="search" type="submit">Search</button>
      </section>

      <section>
        <h3 class="b ttu db mb2 tc">Add a Coffee</h3>
        <label class="f4 b tl db mv2" for="new-roast">Roast</label>
        <select class="input-reset ba2 ba db w-100 pa2" class="input-reset" id="new-roast">
          <option>light</option>
          <option>medium</option>
          <option>dark</option>
        </select>
        
        <label class="f4 b tl db mv2" for="new-coffee">Coffee Name</label>
        <input  class="input-reset ba2 ba db w-100 pa2" id="new-coffee" type="search" placeholder="Add New Coffee">

        <label class="f4 b tl db mv2" for="price">Price</label>
        <input  class="input-reset ba2 ba db w-100 pa2" id="price" type="search" placeholder="Add Coffee Price">
        
        <button class="f5 pointer dim br2 ph3 pv2 mt3 db w-100 white bg-navy" id="new-selection" type="submit">Submit</button>
      </section>

      <section class="coffees-list">
        <div id="coffees">
          <em>loading coffees&hellip;</em>
        </div>
      </section>
    </main>

    <footer>Made with <a href="https://glitch.com">Glitch</a>!</footer>

    <!-- include the Glitch button to show what the webpage is about and
          to make it easier for folks to view source and remix -->
    <div class="glitchButton" style="position:fixed;top:2em;right:20px;"></div>
    <script src="https://button.glitch.me/button.js" defer></script>
  </body>
</html>
